<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjOhFJcJuXswfW7uvFuIy8T5B9c1HBbSY</string>
	<key>GCM_SENDER_ID</key>
	<string>117321124521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mollyexpenses.mollyExpenses</string>
	<key>PROJECT_ID</key>
	<string>molly-expenses</string>
	<key>STORAGE_BUCKET</key>
	<string>molly-expenses.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117321124521:ios:9b03277faed10fdd7177b8</string>
</dict>
</plist>